// // Ticker


$duration: 24s;

.ticker {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-delay: 4s;
  animation-duration: $duration;
  height: 100px;
  white-space: nowrap;
}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-container {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 330px;
  box-sizing: content-box;

  .ticker {
    position: absolute;
    top: 90px;
    left: 0;
    padding-left: 110%;
    display: inline-block;
    height: 100px;
    white-space: nowrap;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
  }

  .ticker-item {
    display: inline-block;
  }

}
