// VARIABLES

// COLOR
$tan-color: #f5efe1;
$dark-color: #000;
$burnt-orange-color: darken(orange,20%);


// LAYOUT
$base-spacing: 30px;
$grid-columns: 16;
$grid-gutters: 0;
$layout-margin: $base-spacing;


// TYPE
$font-small: 18px;
$font-regular: 36px;
$font-medium: 69px;
$font-large: 99px;
$font-huge: 170px;
