@import 'modules/base';
@import 'modules/ticker';
@import 'modules/home-modules';
@import 'modules/work-page';
@import 'modules/preso';

.oh-hey {
  background: $burnt-orange-color;
  color: $tan-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  animation: hide .4s 2.6s forwards;
  p {
    font-size: $font-regular;
    @media all and (min-width: 600px) {
      font-size: $font-medium;
    }
  }
  .in-one {
    opacity: 0;
    animation: show .4s .4s forwards;
    position: relative;
    @media all and (min-width: 600px) {
      animation: in-from-left .4s .4s forwards;
    }
  }
  .in-two {
    opacity: 0;
    animation: show .4s .8s forwards;
    position: relative;
    @media all and (min-width: 600px) {
      animation: in-from-left .4s .8s forwards;
    }
  }
}

#homepage {
  opacity: 1;
  &.out {
    opacity: 0;
    animation: hide .4s forwards;
  }
}

.info {
  background: $dark-color;
  color: $tan-color;
  a {
    color: $tan-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .bio {
    margin-top: 0;
    margin-bottom: $base-spacing *3;
    font-size: $font-regular;
    @media all and (min-width: 600px) {
      font-size: $font-medium;
    }
  }
  .old-sites {
    margin-bottom: $base-spacing *3;
  }
}

.me {
  .mobile-me {
    line-height: 1;
    @media all and (min-width: 600px) {
      display: none;
    }
  }
  .desktop-me {
    @media all and (max-width: 600px) {
      display: none;
    }
  }
  svg {
    width: 100%;
    height: auto;
    path {
      fill: $tan-color;
    }
  }
}

.old-sites {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: $base-spacing;
    }
  }
}

.work {
  h1, h2, h3, h4, h5, a, p {
    font-size: $font-small;
    font-weight: normal;
    margin: 0;
    color: $dark-color;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.thank-you {
  padding: $base-spacing * 5 0;
  p {
    font-size: $font-large;
    line-height: 1;
    @media all and (min-width: 600px) {
      font-size: $font-huge;
    }
  }
}

a.portfolio-section {
  position: relative;
  display: block;
  .cursor-follow {
    position: absolute;
    z-index: 3;
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity .4s;
    transition-delay: .4s;
    @media all and (max-width: 600px) {
      display: none;
    }
    p {
      font-size: $font-regular;
      color: white;
      mix-blend-mode: difference;
      display: block;
    }
    .arrow {
      position: absolute;
      right: -70px;
      bottom: 15px;
      width: 60px;
    }
  }
  &:hover {
    .cursor-follow {
      opacity: 1;
    }
  }
}

.footer {
  @media all and (min-width: 600px) {
    padding-bottom: 0;
  }
}

.bg-grid-parent {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-auto-rows: minmax(100px, 1fr);
  line-height: 0;
  @media all and (min-width: 1600px) {
    height: 1200px;
  }
  .grid-item {
    background-position: center;
    background-size: cover;
    img, video {
      width: 100%;
      height: auto;
    }
  }
}






.bio-images {
  display: none;
}
.bio-images.active {
  pointer-events: none;
  display: block;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  .bg-grid-parent {
    height: 100%;
    width: 100%;
  }
  .grid-item-1 {
    opacity: 0;
    animation: show .01s .01s forwards;
    grid-column: 10 / 14;
    grid-row: 2/4;
    background: url('../img/jp_costa.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
  .grid-item-2 {
    opacity: 0;
    animation: show .01s .4s forwards;
    grid-column: 2/6;
    grid-row: 5/8;
    background: url('../img/l-india.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
    @media all and (max-width: 600px) {
      grid-column: 1 / 17;
    }
  }
  .grid-item-3 {
    opacity: 0;
    animation: show .01s .8s forwards;
    grid-column: 12 / 17;
    grid-row: 3/6;
    background: url('../img/thailand-soccer.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
    @media all and (max-width: 600px) {
      grid-column: 1 / 17;
    }
  }
  .grid-item-4 {
    opacity: 0;
    animation: show .01s 1.2s forwards;
    grid-column: 5 / 9;
    grid-row: 2/6;
    background: url('../img/ev.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;
    @media all and (max-width: 600px) {
      grid-column: 1 / 17;
    }
  }
  .grid-item-5 {
    opacity: 0;
    animation: show .01s 1.6s forwards;
    grid-column: 3 / 6;
    grid-row: 1/4;
    background: url('../img/aiden.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
    @media all and (max-width: 600px) {
      grid-column: 1 / 17;
    }
  }
  .grid-item-6 {
    opacity: 0;
    animation: show .01s 2s forwards;
    grid-column: 11 / 15;
    grid-row: 5/7;
    background: url('../img/laguna.jpg');
    background-position: center;
    background-size: cover;
    z-index: 4;
    @media all and (max-width: 600px) {
      grid-column: 1 / 17;
    }
  }
}
